
/*MAIN INDEX*/
.title{

    margin: 25vh 100px 25vh 100px;
    padding: 20px;
    width: 100%;
    background-color: #343959;
    
    display: flex;
    @include dFlex(column, center, center, center);
    
    &__post{

        margin: 20px 100px 20px 100px;
        &::after{
            content: '🩰';
        }
    }
}


.titleMain{

    position: relative;

    margin-top: 3rem;
    background-color: $bgColor;
    border-radius: 5px;

    display: flex;
    @include dFlex(column, center, center, center);

    z-index: 100000;

    border: map-get($estilos, border);

    &__h2{

        font-size: $fontSizeL;
        font-weight: $fontWeightL;

        display: flex;
        @include dFlex(column, center, center, center);
    }

    &__h3{

        @extend .titleMain__h2;
    }
}

/*Container-2*/
.container-2{

    background-image: url(../imagenes/fondo.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

/*CAROUSEL*/
.owlCarr{

    &__item{

        h5{
            color: $colorDark;
        }
        width: 18rem;

        display: flex;
        @include dFlex(column, start, flex-start, none);

        div{
            img{

                width: 18rem;
                height: 14rem;
                object-fit: cover;
            }
        }
    }
}


.infoCarr{

    color: $bgColor;
    
    &:hover{
        color: $bgColorLight;
    }
}


.titleProf{
    
    @extend .titleMain;

    font-size: $fontSizeL;
    font-weight: $fontWeightL;
}


.profes{

    display: flex;
    @include dFlex(column, center, center, center);

    margin-top: 1rem;
    margin-bottom: 1rem;

    h5{
        color: $colorDark;
    }

    div{

        display: flex;
        @include dFlex(column, center, center, center);

        margin: 0.5rem;
        width: 15rem;

        div{

            display: flex;
            @include dFlex(column, center, center, center);

            img{

                width: 100%;
                height: 11rem;
                object-fit: cover;
            }
        }
    }
}


.whatsappFixed{

    z-index: 100000;
    position: fixed;
    bottom: 0%;
    right: 0%;

    color: $fontColor;
    font-weight: $fontWeightXL;
    padding: 5px;

    width: 100px;
    height: 45px;
    border-radius: 10px 0 0 10px;
    background-color: $colorWtp;

    box-shadow: 1px 1px 2px 1.5px $colorWtp;
    opacity: 90%;

    display: flex;
    @include dFlex(column, center, center, none);

    a{
        &:hover{

            color: $fontColor;
            transform: scale(1.2, 1.2);
        }
    }

}


/*PAGINA N°2 - LA ESCUELA*/
.txt{

    font-size: $fontSize;
    font-weight: 600;
    color: $colorDark;
    background-color: $bgColorSec;
    background-position: bottom;
    border-radius: 5px;
    box-shadow: 1px 1px 15px 3px $bgColorLight;
    padding: 3rem;
    margin-bottom: 2rem;
    opacity: 90%;

    h3,h5{

        font-weight: 500;
        color: $colorDark;
    }

    img{
        @include circle(150px);
    }
}

.txtImg{

    display: flex;
    @include dFlex(column, center, center, center);
}

.container-3{

    background-image: url(../imagenes/fondo3.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: contain;
}

.infoTarjetas{

    display: flex;
    @include dFlex(row, center, center, center);
}


.infoAcademia{

    position: relative;

    width: 15rem;
    height: 20rem;
    padding: 1rem;
    color: $bgColor;
    font-size: $fontSize;
    font-weight: $fontWeight;
    background-color: $bgColorSec;
    background-position: bottom;
    border: 2px solid $bgColor;
    box-shadow: 2px 5px 15px 3px $colorDark;
    overflow: hidden;

    display: flex;
    @include dFlex(column, flex-start, center, center);

    h6{

        font-size: $fontSize;
        color: $bgColor;
    }

    &__item{

        display: flex;
        @include dFlex(row, center, none, none);

        font-weight: $fontWeightXL;

        position: absolute;
        top: 50%;
    }

    &__txt{

        padding: 10px;
        color: $fontColor;
        font-size: ($fontSize - 5px);
        border: 1px solid $bgColor;
        background-color: $bgColor;
        box-shadow: 1px 1px 15px 2px $bgColor;
        opacity: 80%;

        transform: translate(0, 350px);
        transition: 1.2s;


    }

    &:hover{

        .infoAcademia__item{
            display: none;
        }
        .infoAcademia__txt{
            transform: translate(0, 15px);
        }
    }
}


.txt__info{

    margin-top: 3rem;
    padding: 2rem;
    max-height: 250px;

    overflow-y: scroll;
    scroll-behavior: smooth;

    scrollbar-width: thin;
    scrollbar-color: $bgColor;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    
    &::-webkit-scrollbar:vertical {
        width:10px;
    }

    &::-webkit-scrollbar-thumb {

        background-color: $bgColor;
        border-radius: 20px;
        border: 2px solid $bgColorLight;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;  
    }
}


/*PAGINA N°3 - CLASES*/
.titleC{
    @extend .titleProf;
}


.cuadro{
    
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: $colorDark;
    font-weight: $fontWeightXL;

    display: flex;
    @include dFlex(column, center, stretch, center);

    h1{
        color: $colorDark;
    }

    &__div{

        width: 100%;
        height: max-content;

        font-size: 13px;
        background-color: hsl(240, 67%, 94%);
    }

    @mixin estiloCuadro($estilo) {

        @if $estilo{

            box-shadow: 1px 1px 10px 2px hsl(300, 32%, 63%);

            div{
                border-radius: 5px;
                padding: 1rem;
    
                &:hover{
                    transform: scale(1.3, 1.3);
                }
            }
        }
    }

    .lunes{

        @include estiloCuadro(true);

        &__1{
            /*Danza jazz*/
            background-color: hsl(274, 53%, 37%);
        }

        &__2{
            /*Hip hop*/
            background-color: hsl(300, 100%, 25%);
        }
        &__3{
            /*MAMBO*/
            background-color: hsl(300, 24%, 80%);
        }
        &__4{
            /*Salsa*/
            background-color: hsl(300, 76%, 72%);
        }

    }

    .martes{

        @include estiloCuadro(true);

        &__1{
            /*STRECHING*/
            background-color: hsl(300, 100%, 50%);
        }
        &__2{
            /*ZUMBA*/
            background-color: hsl(330, 100%, 71%);
        }
        &__3{
            /*DANZA CLASICA*/
            background-color: hsl(336, 93%, 68%);
        }
        &__4{
            /*FREE DANCE*/
            background-color: hsl(350, 58%, 84%);
        }
        &__5{
            /*INSTRUCTORADO*/
            background-color: hsl(336, 93%, 68%);
        }
    }

    .miercoles{

        @include estiloCuadro(true);

        &__1{
            /*BACHATA*/
            background-color: hsl(350, 100%, 88%);
        }
        &__2{
            @extend .lunes__1;
        }
        &__3{
            @extend .lunes__2;
        }
        &__4{
            @extend .lunes__4;
        }
    }

    .jueves{

        @include estiloCuadro(true);

        &__1{
            @extend .martes__1;
        }
        &__2{
            @extend .martes__2;
        }
        &__3{
            @extend .martes__3;
        }
        &__4{
            @extend .martes__4;
        }
    }

    .viernes{

        @include estiloCuadro(true);

        &__1{
            @extend .martes__5;
        }
        &__2{
            @extend .lunes__1;
        }
        &__3{
            /*clases indiv*/
            background-color: hsl(300, 24%, 80%)
        }
        &__4{
            @extend .viernes__3;
        }
    }
}


/*PAGINA N°4 - GALERIA*/
.galeria{

    display: flex;
    @include dFlex(column, space-between, baseline, center);
    flex-wrap: wrap;

    &__img{

        img{

            width: 15rem;
            height: 19rem;
            border: 1px solid $bgColorLight;

            object-fit: cover;
        }
    }
}


/*PAGINA N°5 CONTACTO*/
.comunicate{

    background-color: $bgColorLight;
    height: min-content;
    padding: 1rem;
    font-size: $fontSize;
    border: 3px dashed $colorDark;

    display: flex;
    @include dFlex(column, flex-start, flex-start, none);
    flex-wrap: wrap;

    &__title{
        color: $colorDark;
    }

    &__telefono{

        display: flex;
        @include dFlex(row, space-evenly, baseline, center);
        flex-wrap: wrap;

        font-size: small;
    }

    &__email{
        @extend .comunicate__telefono;
    }

    &__ubicacion{
        @extend .comunicate__telefono;
    }

    &__social{
        
        display: flex;
        @include dFlex(row, flex-start, center, center);
        flex-wrap: wrap;
    }
}


.escribinos{

    @extend .comunicate;

    form{
        div{
            div{
                color: $fontColor;
            }
        }
    }

    .btn{
        background-color: $bgColor;
    }
}
