
$bgColor: hsl(253, 20%, 31%);
$bgColorBody: hsl(249, 70%, 22%);
$bgColorLight: hsl(253, 4%, 49%);
$fontColor: hsl(100, 62%, 85%);
$colorDark: hsl(210, 11%, 15%);
$bgColorSec: hsl(300, 76%, 72%);

$colorWtp: hsl(156, 100%, 31%);


$fontSize: 20px;
$fontSizeL: ($fontSize*2);
$fontSizeXL: ($fontSize*3);

$fontWeight: 300;
$fontWeightL: ($fontWeight*2);
$fontWeightXL: ($fontWeight*3);

/*MAP-GET*/
$estilos:(
    
    color: $bgColor,
    border: 3px dashed $bgColorLight
);

